.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

/* Put your custom styles here */
.wrapper {
    background-image: url('../images/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left top;
}