interval: false;
interval: false;

.wrapper {
    height: 100px;
    text-align: center;
    width: 400px;
    margin-left: 179px;
}

.button {
    position: absolute;
    top: 50%;
}

/* Put your custom styles here */
.abanob {
    bg-color: red;
}

car {
}

#headtext {
    font-size: ;
}

#headtext {
    text-decoration-color: black;
}